{% load static %}
{% load i18n %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - SportNutrition LT</title>

	<!-- Mobile Specific Metas
    ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicon
    ================================================== -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		  href="{% static 'frontend/favicons/apple-touch-icon-57x57.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
		  href="{% static 'frontend/favicons/apple-touch-icon-114x114.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
		  href="{% static 'frontend/favicons/apple-touch-icon-72x72.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
		  href="{% static 'frontend/favicons/apple-touch-icon-144x144.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="60x60"
		  href="{% static 'frontend/favicons/apple-touch-icon-60x60.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="120x120"
		  href="{% static 'frontend/favicons/apple-touch-icon-120x120.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="76x76"
		  href="{% static 'frontend/favicons/apple-touch-icon-76x76.png' %}"/>
	<link rel="apple-touch-icon-precomposed" sizes="152x152"
		  href="{% static 'frontend/favicons/apple-touch-icon-152x152.png' %}"/>
	<link rel="icon" type="image/png" href="{% static 'frontend/favicons/favicon-196x196.png' %}" sizes="196x196"/>
	<link rel="icon" type="image/png" href="{% static 'frontend/favicons/favicon-96x96.png' %}" sizes="96x96"/>
	<link rel="icon" type="image/png" href="{% static 'frontend/favicons/favicon-32x32.png' %}" sizes="32x32"/>
	<link rel="icon" type="image/png" href="{% static 'frontend/favicons/favicon-16x16.png' %}" sizes="16x16"/>
	<link rel="icon" type="image/png" href="{% static 'frontend/favicons/favicon-128.png' %}" sizes="128x128"/>
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	<meta name="msapplication-TileImage" content="{% static 'frontend/favicons/mstile-144x144.png' %}"/>
	<meta name="msapplication-square70x70logo" content="{% static 'frontend/favicons/mstile-70x70.png' %}"/>
	<meta name="msapplication-square150x150logo" content="{% static 'frontend/favicons/mstile-150x150.png' %}"/>
	<meta name="msapplication-wide310x150logo" content="{% static 'frontend/favicons/mstile-310x150.png' %}"/>
	<meta name="msapplication-square310x310logo" content="{% static 'frontend/favicons/mstile-310x310.png' %}"/>


	<!-- CSS
    ================================================== -->
	<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/css/colors/green.css' %}" id="colors">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<!-- Java Script
    ================================================== -->
	<script src="{% static 'frontend/scripts/jquery.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.themepunch.plugins.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.themepunch.revolution.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.themepunch.showbizpro.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.easing.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.tooltips.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.superfish.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.twitter.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.flexslider.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.jpanelmenu.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.contact.js' %}"></script>
	<script src="{% static 'frontend/scripts/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'frontend/scripts/custom.js' %}"></script>

</head>
<body>


<!-- Header
================================================== -->
<header id="header">

	<!-- Container -->
	<div class="container">

		<!-- Logo / Mobile Menu -->
		<div class="three columns">

			<div id="mobile-navigation">
				<form method="GET" id="menu-search" action="{% url 'frontend.search.result' %}">
					<input type="text" name="search_str" placeholder="Start Typing..."/>
				</form>
				<a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a>
				<span class="search-trigger"><i class="icon-search"></i></span>
			</div>

			<div id="logo">
				<h1><a href="{% url 'frontend.index.index' %}"><img src="{% static 'frontend/images/logo_en.png' %}"
																	alt="Sport Nutrition LT"/></a></h1>
			</div>
		</div>


		<!-- Navigation
        ================================================== -->
		<div class="thirteen columns">

			<nav id="navigation" class="menu">
				<ul id="responsive">
					<li><a href="{% url 'frontend.index.index' %}">Home</a></li>
					<li><a href="{% url 'frontend.post.index' %}">Posts</a></li>
					<li><a href="{% url 'frontend.index.index' %}">Tips</a></li>
					<li><a href="{% url 'frontend.pages.about' %}">{% trans 'About Us' %}</a></li>
					<li><a href="contact.html">Contact</a></li>

					<!-- Search Form -->
					<li class="search-container">
						<div id="search-form">
							<form method="get" action="{% url 'frontend.search.result' %}">
								<input type="text" name="search_str" class="search-text-box"/>
							</form>
						</div>
					</li>

				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->

</header>
<!-- Header / End -->


<!-- Content Wrapper / Start -->
<div id="content-wrapper">

	{% block title_bar %}{% endblock %}

	{% block content %}{% endblock %}

</div>
<!-- Content Wrapper / End -->


<!-- Footer
================================================== -->
<div id="footer">

	<!-- Container -->
	<div class="container">

		<div class="four columns">
			<h3>About</h3>
			<p style="margin:0;">Donec consectetur diam ac nibh auctor ultricies. Integer mauris lacus, consequat in
				luctus id, semper sed felis. Cum sociis natoque penatibus et magnis.</p>
		</div>

		<div class="four columns">
			<h3>Twitter</h3>

			<ul id="twitter"></ul>
			<script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $.getJSON('twitter.php?url=' + encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=1'), function (tweets) {
                        $("#twitter").html(tz_format_twitter(tweets));
                    });
                });
			</script>
			<div class="clearfix"></div>

			<a href="https://twitter.com/NutritionLt" class="twitter-follow-button" data-show-count="false"
			   data-dnt="true">Follow @NutritionLt</a>
			<script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>

		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright {% now 'Y' %} by <a href="{% url 'frontend.index.index' %}">Sport
			Nutrition LT</a>. All Rights Reserved.
		</div>
		<div class="eight columns">
			<ul class="social-icons-footer">
				<li><a href="https://twitter.com/NutritionLt" target="_blank" class="tooltip top" title="Twitter"><i
						class="icon-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/sportnutrition.lt/" class="tooltip top" title="Facebook"
					   target="_blank"><i class="icon-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/sportnutrition.lt/" target="_blank" class="tooltip top"
					   title="Instagram"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / Start -->

</body>
</html>