<div class="form-group">

	<button type="button" class="btn btn-success btn-fill btn-wd js-upload-photos">
		{% comment %}<span class="glyphicon-cloud-upload"></span>{% endcomment %} Upload images
	</button>

	<input id="fileupload" type="file" name="file" multiple
		   style="display: none;"
		   data-url="{% url 'backend.tip.upload_image' %}"
		   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}", "tip_id": "{{ tip.id }}"}'>
	<br/><br/>

	<div id="gallery" class="row">

		{% for image in tip.images.all %}

			<div class="col-xs-6  col-sm-3 col-md-2 pull-left">
				<img src="{{ image.file.url }}" class="img-thumbnail img-responsive">
			</div>

		{% endfor %}

	</div>

</div>