{% extends 'backend/layout/template.html' %}

{% load static %}

{% block extrahead %}
	<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
	{{ block.super }}
{% endblock %}

{% block title %}

	{{ title_form }}

{% endblock %}

{% block title_section %}

	Tips

{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title pull-left">{{ title_form }}</h4>
				</div>

				<div class="clearfix"></div>

				<div class="content">
					<form method="post">{% csrf_token %}
						{{ form.media }}

						<div class="form-group">
							{{ form.title.label_tag }}
							{{ form.title }}
							<span class="ui-state-error-text">{{ form.title.errors }}</span>
						</div>

						<div class="form-group">
							{{ form.content.label_tag }}
						</div>

						<div class="form-group table-responsive">
							{{ form.content }}
						</div>

						<div class="form-group">
							<label class="checkbox checkbox-azure">
								{{ form.active.label }} {{ form.active }}
							</label>
						</div>

						{% if tip %}

							{% include 'backend/tip/tip_section_images.html' %}

						{% endif %}

						<a class="btn btn-danger btn-fill btn-wd" href="{% url 'backend.tip.index' %}">Cancel</a>
						<button type="submit" class="btn btn-info btn-fill btn-wd">Save Tip</button>
					</form>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block script_js %}

	<script src="{% static 'backend/assets/js/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'backend/assets/js/jquery.iframe-transport.js' %}"></script>
	<script src="{% static 'backend/assets/js/jquery.fileupload.js' %}"></script>

	<script>

        $('.nav li').removeClass('active');

        $('#tip_tab').addClass('active');

        {% if message_tip %}

            show_notification('{{ message_tip }}', 'success')

        {% endif %}

        {% if form.errors %}

            show_notification('{{ form.errors }}', 'danger', 'Errors')

        {% endif %}



        $(function () {
			/* 1. OPEN THE FILE EXPLORER WINDOW */
            $(".js-upload-photos").click(function () {
                $("#fileupload").click();
            });

            $("#fileupload").fileupload({
                dataType: 'json',
                sequentialUploads: true, /* 1. SEND THE FILES ONE BY ONE */
                start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
                    $("#modal-progress").modal("show");
                },
                stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
                    $("#modal-progress").modal("hide");
                },
                progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    var strProgress = progress + "%";
                    $(".progress-bar").css({"width": strProgress});
                    $(".progress-bar").text(strProgress);
                },
                done: function (e, data) {
                    if (data.result.is_valid) {
                        $("#gallery").append(
                            "<div class='col-xs-6  col-sm-3 col-md-2'><img src='" + data.result.url + "' class='img-thumbnail img-responsive'></div>"
                        )
                    }
                }
            });

        });

	</script>

{% endblock %}