{% extends 'backend/layout/template.html' %}

{% block title %}

	Post

{% endblock %}

{% block header_title %}

	Post

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="green">
					<h4>Post</h4>
					<p>
						<a href="{% url 'backend.post.create' %}" class="btn btn-primary btn-xs"><i
								class="ti ti-file"></i>
							New Post</a>
					</p>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<td class="col-md-7">
								Title
							</td>
							<td class="col-md-3">
								Slug
							</td>
							<td class="col-md-1">Status</td>
							<td class="col-md-1">
							</td>
						</tr>
						</thead>
						<tbody>
						{% for post in post_list %}
							<tr>
								<td>{{ post.title|capfirst }}</td>
								<td>{{ post.slug }}</td>
								<td>{{ post.get_status_display }}</td>
								<td class="text-center"><a href="{% url 'backend.post.edit' post.pk %}" title="Edit"><i
										class="material-icons">edit</i></a>
									<a href="#" title="Delete" class="text-danger" data-toggle="modal"
									   data-target="#delete_post_modal"
									   onclick="delete_post({{ post.pk }})"><i class="material-icons">delete</i></a>
								</td>
							</tr>

						{% empty %}

							<tr>
								<td colspan="4" class="text-center">No posts to show</td>
							</tr>

						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block modals %}

	{% include 'backend/post/post_modal_confirm_delete.html' %}

{% endblock %}

{% block script_js %}

	<script>
        $('.nav li').removeClass('active');

        $('#post_tab').addClass('active');

        function delete_post(post_id) {
            $("#post_id").val(post_id);
        }

	</script>

{% endblock %}