{% extends 'backend/layout/template.html' %}

{% block title %}

	{{ title_form }}

{% endblock %}

{% block title_section %}

	Post

{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">{{ title_form }}</h4>
				</div>
				<div class="content">

					<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}

						{{ form.media }}

						<div class="form-group">
							{{ form.title.label_tag }}
							{{ form.title }}
						</div>

						<div class="form-group">
							{{ form.summary.label_tag }}
							{{ form.summary }}
						</div>

						<div class="form-group">
							{{ form.body.label_tag }}
						</div>

						<div class="form-group table-responsive">
							{{ form.body }}
						</div>

						<div class="form-group">
							{{ form.thumb.label_tag }}
							{{ form.thumb }}
						</div>

						<div class="form-group">

							<label>Categories:</label>

							{% for category in form.categories %}

								<label class="checkbox checkbox-azure" for="checkbox1" style="margin-bottom: 10px;">

									{{ category.tag }}{{ category.choice_label }}

								</label>
							{% endfor %}
						</div>

						<div class="form-group">
							{{ form.status.label_tag }}
							{{ form.status }}
						</div>

						<a class="btn btn-danger btn-fill btn-wd" href="{% url 'backend.post.index' %}">Cancel</a>
						<button type="submit" class="btn btn-info btn-fill btn-wd">Save Post</button>
					</form>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block script_js %}

	<script>
        $('.nav li').removeClass('active');

        $('#post_tab').addClass('active');

        function show_notification(message, type, title) {
            $.notify(
                {
                    title: title,
                    message: message,
                },
                {
                    type: type,
                    placement: {
                        from: 'top',
                        align: 'center'
                    }
                }
            );
        }

        {% if message_post %}

            show_notification('{{ message_post }}', 'success')

        {% endif %}

        {% if form.errors %}

            show_notification('{{ form.errors }}', 'danger', 'Errors')

        {% endif %}

	</script>

{% endblock %}
